<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
This site is synchronize two users' project.
<ol>
  <li>User A create Project X, his every change will generates a new scenario.</li>
  <li>For the generation of these scenario, user A could selectively share to user B(all scenario or 3 selected cases)</li>
  <li>User B modify the model will generate a new scenario. He could change share Project X to others.</li>
</ol>
The scenario is like a snapshot, is fixed. The scenario of each change will create a new scenario.
</p>
