<% provide(:title, "Home") %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="span8">
      <h3>You have projects</h3>
      <%= render 'projects/projects' %>
      <div class="text-right">
      <%= link_to "Create Project", newproject_path, 
                                class: "btn btn-default btn-primary" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Share Project</h1>

    <h2>
      This is the home page for test share project
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>

