<% if @project_items.any? %>
  <ol class="microposts">
    <% @project_items.each do |name, values| %>
		<li>
		<%= link_to name, {:controller =>'projects',:action => 'show', :current_project_name => name} %>
		</li>
    <% end %>
  </ol>
<% end %>
