<% provide(:title, 'Share Project') %>
<% if signed_in? %>
  <h1>Share Project</h1>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'projects/name_list' %>
      </section>
    </aside>
    <div class="span8">
      <%= render 'projects/detail_list' %>
      <%= link_to "Cancle", show_path,
                    class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% else %>
  <% redirect root_path %>
<% end %>
